body {
    margin: 5% 32%;
}

header h1 {
    font-size: 30px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.section-header h2 {
    font-family: 'Teko', sans-serif;
    font-size: 34px;
    font-weight: 400;
    background-color: grey;
    padding-left: 2%;
    height: 40px;
}

.section-content img {
    height: 140px;
    width: auto;
    float: left;
}