@import url(./main.css);

.words-container {
    font-size: x-large;
    display: flex;
    flex-direction: column;
}

.words-container_row-1,
.words-container_row-2
 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
}

.words-container_row-1_cell-2 {
    color: teal;
}

.words-container_row-1_cell-3 {
    color: blue;
}

.words-container_row-1_cell-4 {
    color: navy;
}

.words-container_row-1_cell-5 {
    color: lime;
}

.words-container_row-1_cell-6 {
    color: white;
}

.words-container_row-1_cell-7 {
    color: purple;
}

.words-container_row-1_cell-8 {
    color: yellow;
}

.words-container_row-2_cell-1 {
    color: olive;
}

.words-container_row-2_cell-2 {
    color: red;
}

.words-container_row-2_cell-4 {
    color: gray;
}

.words-container_row-2_cell-5 {
    color: fuchsia;
}

.words-container_row-2_cell-6 {
    color: green;
}

.words-container_row-2_cell-7 {
    color: aqua;
}

.words-container_row-2_cell-8 {
    color: silver;
}